<div class="d-flex justify-content-between">
    <div class="btn-group btn-group-toggle">
        <label class="btn-outline-success" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="visibleGroups.Fullerenes" (ngModelChange)="changeVisibleGasses()">
            <fa-icon [icon]="visibleGroups.Fullerenes ? visibleIcon : hiddenIcon"></fa-icon>
            Fullerenes
        </label>
        <label class="btn-outline-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="visibleGroups['Booster Gas Clouds']" (ngModelChange)="changeVisibleGasses()">
            <fa-icon [icon]="visibleGroups['Booster Gas Clouds'] ? visibleIcon : hiddenIcon"></fa-icon>
            Booster Gas Clouds
        </label>
        <label class="btn-outline-danger" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="visibleGroups.Other" (ngModelChange)="changeVisibleGasses()">
            <fa-icon [icon]="visibleGroups.Other ? visibleIcon : hiddenIcon"></fa-icon>
            Other
        </label>
    </div>
</div>
<hr>

<ng-container *ngIf="visibleData; else gas_loading_message">
    <p>Prices are based on buying/selling 5.000m³ of gas in The Forge.</p>
    <app-sor-table [data]="visibleData" [columns]="tableSettings"></app-sor-table>
</ng-container>

<ng-template #gas_loading_message>
    <app-loading-message>Loading gasses...</app-loading-message>
</ng-template>
