<div class="d-flex justify-content-center">
    <div class="text-center">
        <div class="btn-group" role="group">
            <button routerLink="/ore/belt" routerLinkActive="active" type="button" class="btn btn-outline-primary">
                Belt
            </button>
            <button routerLink="/ore/moon" routerLinkActive="active" type="button" class="btn btn-outline-primary">
                Moon
            </button>
            <button routerLink="/ore/triglavian" routerLinkActive="active" type="button" class="btn btn-outline-primary">
                Triglavian
            </button>
        </div>
    </div>
</div>

<hr>

<ng-container *ngIf="visibleData; else ore_loading_message">
    <p>Prices are based on buying/selling 5.000m³ of ore in The Forge.</p>
    <app-sor-table [data]="visibleData" [columns]="tableSettings"></app-sor-table>
</ng-container>

<ng-template #ore_loading_message>
    <app-loading-message>Loading ores...</app-loading-message>
</ng-template>
