<h1>
  Choose scopes
</h1>
<p>To display your data from EVE Online, EVIE requires permission to use your 'scopes'.</p>
<br>
<h3>What are scopes?</h3>
<p>Scopes are certain sets of data that a third-party application, like EVIE, can access from your character.</p>
<p>For example you can grant access to view your skill queue, but not your wallet balance.</p>

<hr>

<div class="container">
    <div class="button-grid-container">
        <!--<button class="btn btn-outline-primary">Moo</button>-->
        <div class="btn-group btn-group-toggle">
            <label class="btn-outline-primary w-100" ngbButtonLabel>
                <input type="checkbox" ngbButton [(ngModel)]="thing">
                <fa-icon [icon]="thing ? viewEnabledIcon : viewDisabledIcon"></fa-icon>
                Untrained skills
            </label>
        </div>
        <button class="btn btn-info"><fa-icon [icon]="caretDown"></fa-icon></button>
    </div>

    <br>

    <div class="button-grid-container">
        <button class="btn btn-outline-primary">Moo</button>
        <button class="btn btn-info"><fa-icon [icon]="caretDown"></fa-icon></button>
    </div>
</div>
