@import '../../variables';

nav {
    background-color: $body-secondary;
    user-select: none;
}

.navbar.fixed-top {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    .navbar-toggler {
        color: $primary;
    }

    .navbar-nav {
        .nav-item {
            text-align: right;

            .nav-link {
                position: relative;
                color: #ffffff;

                &::before {
                    background-color: #ffffff;
                    bottom: 0;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    right: 0;
                    transform: scaleX(0);
                    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
                    visibility: hidden;
                }

                &:hover {
                    &::before {
                        transform: scaleX(0.8);
                        visibility: visible;
                    }
                }

                &.active {
                    &::before {
                        transform: scaleX(1);
                        visibility: visible;
                    }
                }

                &.logout {
                    padding: 0;

                    img {
                        filter: grayscale(100%) brightness(200%);
                        height: 37px;
                    }
                }

                .nav-link-text {
                    font-size: 16px;
                }
            }

            &.dropdown {
                .dropdown-menu {
                    .dropdown-item {
                        img {
                            margin-left: -4px;
                            margin-bottom: 2px;
                            max-height: 18px;
                            transform: scale(1.4);
                            filter: grayscale(100%) brightness(200%);
                        }
                    }
                }
            }
        }
    }
}

.navbar.fixed-left {
    bottom: 0;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.25);
    left: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: $navbar-top-height;
    width: $navbar-side-width;
    z-index: 1029;
    flex-direction: column;
    justify-content: flex-start;

    .scrollContainer {
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 50px;
    }

    .character-item {
        cursor: pointer;

        img {
            height: 50px;
            width: 50px;
        }
    }

    .navbar-item {
        cursor: pointer;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        position: relative;
        text-decoration: none;

        &:hover {
            &::after {
                transform: scaleY(0.7);
                visibility: visible;
            }
        }

        &.active {
            &::after {
                transform: scaleY(0.9);
                visibility: visible;
            }
        }

        &::after {
            background-color: #ffffff;
            bottom: 0;
            content: '';
            position: absolute;
            right: 4px;
            top: 0;
            transform: scaleY(0);
            transition: all 0.2s ease-in-out;
            visibility: hidden;
            width: 2px;
        }

        img {
            filter: brightness(0) invert(100%);
            max-width: 85%;
        }

        &.time {
            bottom: 0;
            margin-bottom: 0;
            padding-bottom: 10px;
            padding-top: 10px;
            pointer-events: none;
            position: absolute;
            width: 100%;

            &.disabled {
                opacity: 1;
            }
        }

        &.disabled {
            opacity: 0.25;
        }
    }
}
