<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" routerLink="/">EVIE</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <fa-icon [icon]="faChevronDown"></fa-icon>
    </button>

    <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="!isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" (click)="isCollapsed = !isCollapsed">
                <a class="nav-link" routerLink="/" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">
                    <span class="nav-link-text"><fa-icon [icon]="homeIcon"></fa-icon></span>
                </a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item" (click)="isCollapsed = !isCollapsed">
                <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
                    <span class="nav-link-text"><fa-icon [icon]="dashboardIcon"></fa-icon></span>
                </a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                    <span class="nav-link-text">
                        <fa-icon [icon]="industryToolsIcon"></fa-icon>
                    </span>
                </a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" routerLink="ore" routerLinkActive="active">
                        <fa-icon [icon]="orePricesIcon"></fa-icon>
                        Ore prices
                    </a>
                    <a class="dropdown-item" routerLink="blueprint-calculator" routerLinkActive="active"
                       *ngIf="devEnvironment">
                        <fa-icon [icon]="orePricesIcon"></fa-icon>
                        BP
                    </a>
                    <a class="dropdown-item" routerLink="industry-calculator" routerLinkActive="active"
                       *ngIf="devEnvironment">
                        <fa-icon [icon]="orePricesIcon"></fa-icon>
                        Industry Calculator
                    </a>
                    <a class="dropdown-item" routerLink="refining-profit" routerLinkActive="active"
                       *ngIf="devEnvironment">
                        <fa-icon [icon]="orePricesIcon"></fa-icon>
                        Minerals
                    </a>
                    <!--<a class="dropdown-item" routerLink="ore" routerLinkActive="active">-->
                        <!--<fa-icon [icon]="connectionIcon"></fa-icon>-->
                        <!--Another action-->
                    <!--</a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="#">Something else here</a>-->
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-lg-block disabled">
                <a class="nav-link">
                    <span class="nav-link-text" [ngClass]="{'d-none': !serverOnline}">
                        <span id="eve-players"></span> players online
                    </span>
                    <span class="nav-link-text" [ngClass]="{'d-none': serverOnline}">
                        <fa-icon [icon]="connectionIcon" class="text-danger"></fa-icon>
                        API server is offline
                    </span>
                </a>
            </li>
            <li *ngIf="isLoggedIn && (isAdmin || devEnvironment)" class="nav-item">
                <a class="nav-link" routerLink="users" routerLinkActive="active">
                    <span class="nav-link-text">
                        <fa-icon [icon]="userAdminIcon"></fa-icon>
                    </span>
                </a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" (click)="logout()">
                    <span class="nav-link-text"><fa-icon [icon]="logoutIcon"></fa-icon></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar fixed-left navbar-inverse">
    <div class="scrollContainer">
        <a class="character-item" [ngClass]="{'disabled': !hasCharacters}" (click)="nextCharacter()">
            <img src="https://imageserver.eveonline.com/Character/{{ char }}_50.jpg" alt="Character image">
        </a>
        <a routerLink="dashboard" routerLinkActive="active" class="navbar-item d-lg-none"
           [ngClass]="{'disabled': !activatedCharacter}">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/recruitment.svg" alt="Dashboard sheet icon">
        </a>
        <a routerLink="charactersheet" routerLinkActive="active" class="navbar-item"
           [ngClass]="{'disabled': true}">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/charactersheet.svg" alt="Character sheet icon">
        </a>
        <a routerLink="skills" routerLinkActive="active" class="navbar-item"
           [ngClass]="{'disabled': !activatedCharacter}">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/skills.svg" alt="Skills icon">
        </a>
        <a routerLink="contacts" routerLinkActive="active" class="navbar-item"
           [ngClass]="{'disabled': true}">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/contacts.svg" alt="Contacts icon">
        </a>
        <a routerLink="mail" routerLinkActive="active" class="navbar-item"
           [ngClass]="{'disabled': true }">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/evemail.svg" alt="Mail icon">
        </a>
        <a routerLink="market" routerLinkActive="active" class="navbar-item"
           [ngClass]="{'disabled': !activatedCharacter || !devEnvironment}">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/market.svg" alt="Market icon">
        </a>
        <a routerLink="wallet" routerLinkActive="active" class="navbar-item"
           [ngClass]="{'disabled': !activatedCharacter}">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/wallet.svg" alt="Wallet icon">
        </a>
        <a routerLink="assets" routerLinkActive="active" class="navbar-item"
           [ngClass]="{'disabled': true}">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/assets.svg" alt="Assets icon">
        </a>
        <a routerLink="planets" routerLinkActive="active" class="navbar-item"
           [ngClass]="{'disabled': true}">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/planets.svg" alt="Planets icon">
        </a>
        <a routerLink="industry" routerLinkActive="active" class="navbar-item"
           [ngClass]="{'disabled': !activatedCharacter}">
            <img src="https://data.saturnserver.org/eve/Icons/UI/WindowIcons/industry.svg" alt="Industry icon">
        </a>
        <a class="navbar-item time"
           [ngClass]="{'disabled': true}">
            <span id="EVETime_Hours">{{ hours }}</span>:<span id="EVETime_Minutes">{{ minutes }}</span>
        </a>
    </div>
</nav>
