$eve-gold: #96732b;
$eve-white: #cfcfce;

$eve-gold-omega: #ffcc00;

$eve-ore-button-active: #958d21;
$eve-ore-button-highlight: #6e691e;
$eve-ore-button: #43431a;

$eve-ore-body: #0b1216;
$eve-ore-content: #151d23;

$eve-skill-untrained: #444a4f;
$eve-skill-trained: #d0d2d3;
$eve-skill-training: #2f849e;

$eve-text-color-bold: #ffffff;
$eve-text-color: #c2c4c5;
$eve-text-yellow: #ffff00;

$navbar-top-height: 46px;
$navbar-side-width: 50px;
$body-padding: 20px;

$opacity: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

$standard-font-size: 16px;
$standard-line-height: 1.42857143;

@import '../node_modules/bootswatch/dist/superhero/variables';
