# IDE files
.idea/
.vscode/
*.iml

# Main files
*.log

# Client files
/client/coverage/
/client/dist/
/client/node_modules/

# Client_legacy files
/client_legacy/coverage/
/client_legacy/dist/
/client_legacy/node_modules/

# Server files
/server/data/*.txt
/server/data/*.json
/server/dist/
/server/config/
/server/node_modules/
/server/logs
/server/.nyc_output/

# System files
*.db

# Node/Npm files
npm-debug.log*
