# IDE files
.idea/
.vscode/
*.iml

# Main files
/config/*
*.log

# Client files
/client/coverage/
/client/dist/
/client/node_modules/

# Client_legacy files
/client_legacy/coverage/
/client_legacy/dist/
/client_legacy/node_modules/

# Server files
/server/node_modules/
/server/logs

# System files
*.db

# Node/Npm files
npm-debug.log*
