# IDE files
.idea/
.vscode/
*.iml

# Main files
/config/*

# Client files
/client/dist/
/client/node_modules/

# Server files
/server/node_modules/

# System files
*.db

# Node/Npm files
npm-debug.log
