<div id="dashboard">
  <h1>Hello {{username}}</h1>
  <p>Please add or choose a character below.</p>
  <hr>

  <h2>Character list:</h2>
  <div class="character-list" *ngFor="let character of characters">
    <button *ngIf="!isActive(character)"
            (click)="setActiveCharacter(character)">Set Active
    </button>
    <button (click)="reAuth(character)">Re-authenticate</button>
    <button (click)="getCharacterData(character).then()">Get Data</button>
    <button (click)="deleteCharacter(character)">Delete</button>
    |
    <span class="character-name">
      <ng-container title="Character name" *ngIf="character.gender === 'male'">
       <fa [name]="'male'"></fa> {{character.name}}</ng-container>
      <ng-container title="Character name" *ngIf="character.gender === 'female'">
        <fa [name]="'female'"></fa> {{character.name}}</ng-container>
      <ng-container title="Character name" *ngIf="!character.gender">
        <fa [name]="'circle-o-notch'" [spin]=true></fa>{{character.name}}</ng-container>
    </span>
    <img *ngIf="character.corporation_id" style="height: 14px" src="//image.eveonline.com/Corporation/{{ character.corporation_id }}_32.png" alt="Character corporation">
    <img *ngIf="character.alliance_id" style="height: 14px" src="//image.eveonline.com/Alliance/{{ character.alliance_id }}_32.png" alt="Character alliance">
    |
    <span class="character-id" title="Character ID">
      <fa [name]="'id-card'"></fa>{{character.characterId}}
    </span>
    |
    <span class="current-ship" title="Current ship, click to refresh" (click)="refreshShip(character).then()">
      <span class="success" *ngIf="character.currentShip?.type && character.currentShip?.type !== 'Error'">
        <fa [name]="'rocket'"></fa>{{character.currentShip.name}} ({{character.currentShip.type}})</span>
      <span class="loading" *ngIf="!character.currentShip?.type"><fa [name]="'circle-o-notch'" [spin]=true></fa></span>
      <span class="error" *ngIf="character.currentShip?.type === 'Error'">
        <fa [name]="'exclamation-triangle'"></fa> Error
      </span>
    </span>
    |
    <span class="location" title="Current location, click to refresh" (click)="refreshLocation(character).then()">
      <span class="success" *ngIf="character.location?.name && character.location?.name !== 'Error'">
        <fa [name]="'map'"></fa>{{character.location.name}}</span>
      <span class="loading" *ngIf="!character.location?.name"><fa [name]="'circle-o-notch'" [spin]=true></fa></span>
      <span class="error" *ngIf="character.location?.name === 'Error'">
        <fa [name]="'exclamation-triangle'"></fa> Error
      </span>
    </span>
  </div>
  <hr>
  <button (click)="startSSO()">Add character</button>
</div>