<div class="container fluid character-dashboard">
    <p class="text-center">
        Welcome to the Character Dashboard, here you can see and manage the characters you added to EVIE, or add
        new characters.
    </p>
    <p class="text-center">
        <button class="btn btn-outline-primary add-character-button" (click)="authCharacter()">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            Add a new character
        </button>
    </p>

    <div class="row justify-content-around">
        <div *ngFor="let character of characters" [ngClass]="{'selected' : isCharacterSelected(character)}"
             class="character-container2">
            <div class="character-portrait">
                <img src="https://imageserver.eveonline.com/Character/{{ character.characterId }}_256.jpg" alt="Character image">
            </div>
            <div class="character-info">
                <p>
                    <strong>{{ character.name }}</strong>
                </p>
                <p *ngIf="hasShipTypeScope(character)">
                    <ng-container *ngIf="character.currentShip.name && character.currentShip.type;else loading_message">
                        {{ character.currentShip.name }} ({{ character.currentShip.type }})
                    </ng-container>
                </p>
                <a class="character-link" (click)="goToCharacterWalletPage(character).then()" *ngIf="hasWalletScope(character)">
                    <p>
                        <ng-container *ngIf="character.balance;else loading_message">
                            {{ character.balance || 0 | number:'0.2-2' }} ISK
                        </ng-container>
                    </p>
                </a>
                <a class="character-link" (click)="goToCharacterSkillPage(character).then()" *ngIf="hasSkillQueueScope(character)">
                    <p>
                        {{ character.currentTrainingSkill?.name || 'No skill in training' }}
                        <span *ngIf="character.currentTrainingSkill" class="text-info">
                            {{ romanize(character.currentTrainingSkill?.finished_level) }}
                        </span>
                        <br>
                        {{ character.currentTrainingCountdown }}
                    </p>
                </a>
                <p class="button-row">
                    <button class="btn" [disabled]="isCharacterSelected(character)"
                            [ngClass]="getActivateButtonClass(character)" (click)="switchToCharacter(character).then()">
<!--                        <fa-icon [icon]="faCheck"></fa-icon>-->
                        Activate
                    </button>
                    <button class="btn btn-outline-info" (click)="authCharacter(character)">
<!--                        <fa-icon [icon]="faSync"></fa-icon>-->
                        Refresh
                    </button>
                    <button class="btn btn-outline-danger" (click)="deleteCharacter(character).then()">
<!--                        <fa-icon [icon]="faTrash"></fa-icon>-->
                        Delete
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<ng-template #loading_message>
    <span>Loading...
        <span class="m-progress m-progress-small"></span>
    </span>
</ng-template>
