#dashboard {
  .character-list {
    .character-list-item {
      //position: relative;
      //border: solid 1px red;
      margin-bottom: 10px;
      //height: 250px;
      //
      //button.activate {
      //  position: absolute;
      //  bottom: 0;
      //  width: 100%;
      //  height: 25px;
      //}
      //
      //button.delete {
      //  position: absolute;
      //  bottom: 25px;
      //  width: 100%;
      //  height: 25px;
      //}
      //
      //button.re-auth {
      //  position: absolute;
      //  bottom: 50px;
      //  width: 100%;
      //  height: 25px;
      //}

      .current-ship, .location {
        pointer-events: none;

        &:hover {
          color: lightblue;
        }
        .success {
          pointer-events: auto;
          cursor: pointer;
        }
        .error {
          pointer-events: auto;
          cursor: pointer;
          color: yellow;
        }
      }
    }
  }
}
