#dashboard {
  .character-list {
    .current-ship, .location {
      pointer-events: none;

      &:hover {
        color: lightblue;
      }
      .success {
        pointer-events: auto;
        cursor: pointer;
      }
      .error {
        pointer-events: auto;
        cursor: pointer;
        color: yellow;
      }
    }
  }
}
