<div class="balance-section">
  <h2 class="balance">
    Current balance:
    <span id="balance-number"></span>
    <span *ngIf="balanceError" class="balance-error">Error
      <i (click)="showBalance().then()" class="fa fa-refresh"></i>
    </span>
  </h2>
</div>
<div class="wallet-section">

  <div class="journal-section">
    <h2 class="journal-head">Journal</h2>
    <i *ngIf="!journalDataRequestDone" class="fa fa-circle-o-notch fa-spin"></i>
    <div class="journal-data" *ngIf="journalDataRequestDone">
      <p *ngIf="journalData.length">Showing the last 50 records in the last 30 days.</p>
      <p *ngIf="!journalData.length">There is no journal data available.</p>
      <table *ngIf="journalData.length" class="journal-table table table-hover table-bordered">
        <thead>
        <tr>
          <th class="left">Date (EVE Time)</th>
          <th class="left">Type</th>
          <th class="left">From</th>
          <th class="left">Amount</th>
          <th class="left">Balance</th>
        </tr>
        </thead>
        <tbody class="wallet-journal-body">
        <tr *ngFor="let entry of journalData">
          <td data-label="Date">{{ entry.dateRaw }}</td>
          <td data-label="refType">{{ entry.refTypeName }}</td>
          <td data-label="From">{{ entry.ownerName1 }}</td>
          <td data-label="Amount" [ngClass]="getNumberColor(entry.amountFormatted)">{{ entry.amountFormatted }} ISK</td>
          <td data-label="Balance">{{ entry.balance }} ISK</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr class="opacity-20">

  <div class="transactions-section">
    <h2 class="transactions-head">Transactions</h2>
    <i *ngIf="!transactionDataRequestDone" class="fa fa-circle-o-notch fa-spin"></i>
    <div *ngIf="transactionDataRequestDone" class="transactions-data">
      <p *ngIf="transactionData.length">Showing the last 50 records in the last 30 days.</p>
      <p *ngIf="!transactionData.length">There is no transaction data available.</p>
      <table *ngIf="transactionData.length" class="transactions-table table">
        <thead>
        <tr>
          <th class="left">Date (EVE Time)</th>
          <th class="left">Information</th>
          <th class="left">Price</th>
        </tr>
        </thead>
        <tbody class="WalletTransactionsBody">
        <tr *ngFor="let entry of transactionData">
          <td data-label="date">{{ entry.date }}</td>
          <td data-label="info">You
            <span *ngIf="entry.transactionType === 'buy'">bought</span>
            <span *ngIf="entry.transactionType === 'sell'">sold</span>
            {{ entry.quantity }} x <a (click)="getItemInfo(entry.typeID)">{{ entry.typeName }}</a>
            <span *ngIf="entry.transactionType === 'buy'">from</span>
            <span *ngIf="entry.transactionType === 'sell'">to</span>
            <a (click)="getPersonInfo(entry.clientID)">{{ entry.clientName }}</a>
          </td>
          <td data-label="price" [ngClass]="buyOrSell(entry.transactionType)">
            {{ entry.price | number: numberformat() }} ISK<span
            *ngIf="entry.quantity > 1"> ({{ entry.ppi | number: numberformat() }} ISK per item)</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>