<div class="input-fields">
    <p>Item to produce</p>
    <p>Buy/Sell</p>

    <input type="text" class="form-control" placeholder="Choose an item"
           [(ngModel)]="selectedItem"
           [ngbTypeahead]="characterNames"
           [resultFormatter]="resultFormatBandListValue"
           [inputFormatter]="inputFormatBandListValue"
           (ngModelChange)="recFun2()"
    />

    <button class="btn btn-outline-primary">Import blueprints from all characters</button>
</div>

<hr>

<div *ngFor="let key of bupKeys()">
    <img *ngFor="let bp of bups[key]" src="https://images.evetech.net/types/{{bp}}/icon?size=64">
    <hr>
</div>

<ng-container *ngIf="calculating !== undefined; else start_message">
    <ng-container *ngIf="!calculating; else calculating_message">

        <div id="blueprints">
            <h2>Used blueprints</h2>
            <ul>
                <li *ngFor="let item of usedBlueprints">
                    <p>
                        <img src="https://images.evetech.net/types/{{item[0]}}/bp?size=32">
                        {{ item[0] }} ( -{{ item[1] }}% )
                    </p>
                </li>
            </ul>
        </div>

        <div id="shopping-list">
            <h2>Shopping list</h2>
            <ul>
                <li *ngFor="let item of shoppingList.list | keyvalue">
                    <p>
                        <img src="https://images.evetech.net/types/{{item.key}}/icon?size=32">
                        {{ getName(item.key) }} x {{ item.value }}
                    </p>
                </li>
            </ul>
            <p>{{shoppingList.volume | number : '1.0-0'}}m³</p>
        </div>

        <p *ngIf="worthToProduce">YES</p>
        <p *ngIf="!worthToProduce">NO</p>
        <p>{{ profit | number : '1.0-0' }} %</p>

        <hr>

        <div id="sankey-diagram">
            <plotly-plot [data]="plotlyData" [layout]="plotlyLayout" [config]="{
        setBackground: setPlotlyBackground,
        displayModeBar: false,
        responsive: true
        }"></plotly-plot>
        </div>
    </ng-container>

    <ng-template #calculating_message>
        <app-loading-message>
            Running calculation...
            <span *ngIf="currentMaterial">({{ currentMaterial }})</span>
        </app-loading-message>
    </ng-template>
</ng-container>
<ng-template #start_message>
    <p>Choose an item</p>
</ng-template>
