@import '../../../variables';

.input-container {
    label {
        width: 30%;

        input {
            background: transparent;
            border-color: $primary;
            color: $primary;
        }
    }
}
