<div class="input-fields container">

    <div class="input-container d-flex flex-row justify-content-evenly">
        <label>
            Buying system
            <input type="text" class="form-control" placeholder="Choose a system to buy material from"
                   [(ngModel)]="buySystem.input"
                   (ngModelChange)="setValidity(inputBuySystemElement)"
                   #input_buy_system
                   [required]="true"
            />
        </label>

        <label>
            Item
            <input type="text" class="form-control" placeholder="Choose an item to produce"
                   [(ngModel)]="item.input"
                   (ngModelChange)="setValidity(inputItemElement)"
                   #input_item
                   [required]="true"
            />
        </label>

        <label>
            Selling system
            <input type="text" class="form-control" placeholder="Choose a system to sell the item in"
                   [(ngModel)]="sellSystem.input"
                   (ngModelChange)="setValidity(inputSellSystemElement)"
                   #input_sell_system
                   [required]="true"
            />
        </label>
    </div>
    <div class="input-container d-flex flex-row justify-content-evenly">
        <label>
            Production system
            <input type="text" class="form-control" placeholder="Choose where to produce this item"
                   [(ngModel)]="productionSystem.input"
                   (ngModelChange)="setValidity(inputProductionSystemElement)"
                   #input_production_system
                   [required]="true"
            />
        </label>

        <label>
            Industry tax
            <input type="number" class="form-control" placeholder="Set the facility tax"
                   [(ngModel)]="tax"
                   (ngModelChange)="setValidity(inputTaxElement)"
                   #input_tax
                   [min]="1"
                   [step]="0.1"
                   [required]="true"
            />
        </label>

        <label>
            Quantity
            <input type="number" class="form-control" placeholder="Set the quantity of items to produce"
                   [(ngModel)]="quantity"
                   (ngModelChange)="setValidity(inputQuantityElement)"
                   #input_quantity
                   [min]="1"
                   [step]="1"
                   [required]="true"
            />
        </label>
    </div>

    <ng-container *ngIf="!loggedIn">
        <br>
        <p class="text-center">Tip: Log in and provide the 'read blueprints' scope to use your blueprints in the calculations.</p>
    </ng-container>
    <br>
    <p class="text-center">Note: This calculator does not factor in Structure Rigs, or the Structure Role Bonus of Engineering Complexes because this data is not available to Third-Party applications.</p>
    <p class="text-center">This means the actual profit of production can differ a few percent from the value shown here.</p>
    <br>

    <div class="input-button-container d-flex flex-row justify-content-evenly">
        <button class="btn btn-outline-success" (click)="processInput()">Calculate</button>
    </div>

</div>

<hr>

<div class="container">
    <ng-container *ngIf="calculating !== undefined; else start_message">
        <ng-container *ngIf="!calculating; else calculating_message">
            <ng-container *ngIf="!message; else error_message">

                <p>Producing this item will yield {{ profit | number: '1.2-2' }} ISK ({{ profitPercentage | number : '1.0-0' }} %) profits.</p>
                <p>Suggestion:
                    <strong class="{{ profit <= 0 ? 'text-danger' : 'text-success' }}">
                        <span *ngIf="profit <= 0">do not</span>
                        produce this item!
                    </strong>
                </p>

                <br>

                <p>Material buy price: {{ chain.producePrice | number: '1.2-2' }} ISK</p>
                <p>Industry Cost: {{chain.totalIndustryCost | number: '1.2-2' }} ISK</p>
                <p>-----</p>
                <p>Item sell price: {{ chain.price | number: '1.2-2' }} ISK</p>

                <br>

                <div id="blueprints" *ngIf="usedBlueprints.length">
                    <h2>Used blueprints</h2>
                    <ul>
                        <li *ngFor="let item of usedBlueprints">
                            <p>
                                <img src="https://images.evetech.net/types/{{ item.type_id }}/{{ item.runs === -1 ? 'bp' : 'bpc' }}?size=32" alt="blueprint image">
                                {{ getName(item.type_id) }} ( -{{ item.material_efficiency }}% )
                            </p>
                        </li>
                    </ul>
                </div>

                <div id="shopping-list" *ngIf="profit > 0">
                    <h2>Materials required</h2>
                    <ul>
                        <li *ngFor="let item of shoppingList.list">
                            <p>
                                <img src="https://images.evetech.net/types/{{item.product.type_id}}/icon?size=32" alt="material image">
                                {{ item.product.name }} x {{ item.quantity }} ({{ item.price  | number : '0.2-2'}} ISK)
                            </p>
                        </li>
                    </ul>
                    <p>{{shoppingVolume | number : '1.0-0'}}m³</p>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #start_message>
    <p class="text-center">Choose an item</p>
</ng-template>

<ng-template #error_message>
    <p class="text-center text-danger">{{ message }}</p>
</ng-template>

<ng-template #calculating_message>
    <app-loading-message class="text-center">
        Running calculation...
        <span *ngIf="currentMaterial">({{ currentMaterial }})</span>
    </app-loading-message>
</ng-template>
