@import '../../../variables';

.input-container {
    label {
        width: 30%;

        input {
            background: transparent;
            border-color: $primary;
            color: $primary;
            padding: 0.375rem 0.75rem;

            &.is-invalid {
                color: $danger;
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            }

            &.is-valid {
                color: $success;
            }
        }
    }
}

.industry-graph {
    border: 1px solid $body-color;

    #arrow {
        stroke: $body-color;
        fill: $body-color;
    }
}
