<div class="container skills-page-container">
    <div class="skill-points-container">
        <div>
            <h2>Skillpoints</h2>
            <p class="skill-points" *ngIf="skills">
                {{ skillPoints | number:'1.0-0' }} SP
                <span class="unallocated" *ngIf="skills?.unallocated_sp">
                    + ({{ skills?.unallocated_sp | number:'1.0-0' }} unallocated SP)
                </span>
            </p>
        </div>
        <div>
            <h2>Training speed</h2>
            <span class="training-speed" *ngIf="skills">
                {{ spPerSec | number:'1.2-2' }} SP/s
            </span>
        </div>
    </div>

    <hr>

    <div class="skill-queue-container">
        <div class="d-flex justify-content-between">
            <h2>Skill queue ({{ skillQueueCount }})</h2>
            <h2 (click)="toggleSkillQueueVisible()"><i class="fas fa-chevron-down"></i></h2>
        </div>
        <p class="skill-queue-time" *ngIf="!skillTrainingPaused" [ngClass]="{'low': skillQueueLow()}">
            <i class="fa fa-exclamation-triangle" *ngIf="skillQueueLow()"></i>
            Skill queue ends in {{ totalQueueCountdown }}
        </p>
        <div class="skill-queue" *ngIf="skillQueueVisible">
            <ng-container *ngIf="skillTrainingPaused">
                <p class="stalled"><i class="fa fa-cog"></i> Skill queue inactive</p>
            </ng-container>
            <ng-container *ngIf="skillQueue.length && skills">
                <ng-container *ngFor="let skill of skillQueue">
                    <div class="skill-in-queue {{skill.status}}" *ngIf="skill.status !== 'finished'">
                        <div class="left-info">
                            <p>
                                <ng-container *ngIf="skill.status === 'training'"><i class="fa fa-cog fa-spin"></i>
                                </ng-container>
                                <ng-container *ngIf="skill.status === 'scheduled'"><i
                                    class="fa fa-chevron-circle-up"></i>
                                </ng-container>
                                <strong> {{ skill.name }} {{ skill.finished_level }}</strong>
                            </p>
                            <p class="skill-info">SP left {{ skill.spLeft | number:'1.0-0' }}</p>
                            <p *ngIf="skill.status === 'training'" class="skill-info">
                                Finishes in {{ skill.countdown }}
                            </p>
                            <p *ngIf="skill.status === 'scheduled'" class="skill-info">
                                Will take {{ skill.countdown }}
                            </p>
                        </div>
                        <div class="right-info">
                            <p class="skill-group" *ngIf="skill.name">
                                <i class="fa fa-folder-open"></i> {{ getSkillGroup(skill.skill_id) }}</p>
                            <p>Total SP when finished {{ skill.spAtEnd | number:'1.0-0' }}</p>
                            <p *ngIf="skill.status === 'training'">{{ skill.percentageDone || 0 | number:'1.2-2' }}%</p>
                        </div>
                    </div>
                    <p class="skill-progressbar" *ngIf="skill.percentageDone">
                        <ngb-progressbar [value]="skill.percentageDone" height="2px"></ngb-progressbar>
                    </p>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <hr>

    <div class="skill-list-container">
        <h2>Skill overview ({{ skills?.skills.length || 0 }})</h2>
        <h4>{{ countLvl5Skills() }} skills at level 5</h4>
        <div class="skill-list" *ngIf="skills">
            <ngb-accordion *ngIf="skills">
                <ngb-panel *ngFor="let group of skillGroups">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between">
                            <span>
                                <i class="fa fa-folder-open"></i>
                                {{ group.name }} ({{ skillList[group.group_id].length }} / {{ group.types.length }})
                            </span>
                            <span>
                                {{ getSPInGroup(group.group_id) | number:'1.0-0' }} SP
                            </span>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <p class="skill-name d-flex justify-content-between" *ngFor="let skill of getSkillsInGroup(group.group_id)">
                            <span>
                                {{ skill.name }} {{ skill.trained_skill_level }}
                                <ng-container *ngIf="skill.active_skill_level !== skill.trained_skill_level">
                                    ({{ skill.active_skill_level }})
                                </ng-container>
                                <ng-container *ngIf="skill.trained_skill_level"></ng-container>
                            </span>
                            <span>
                                {{ skill.skillpoints_in_skill || 0 | number:'1.0-0' }} SP
                            </span>
                        </p>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>
