@import '../../../variables';

.skill-points-container {
    display: flex;
    justify-content: space-between;

    .unallocated {
        color: $eve-skill-training;
    }

    .training-speed {
        display: block;
        text-align: right;
    }
}

.skill-queue-time {
    &.low {
        color: #ffff00;
    }
}

.skill-queue {

    $skill-queue-left-margin: 20px;

    .stalled {
        color: #ffff00;
    }

    .skill-in-queue {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .right-info {
            text-align: right;
        }

        &.training {
            color: $primary;
        }

        &.scheduled {
            color: $eve-skill-trained;
        }

        .left-info .skill-info {
            margin-left: $skill-queue-left-margin;
        }
    }

    .skill-progressbar {
        margin-left: $skill-queue-left-margin;
    }
}

.skill-list {
    //background-color: red;

    .accordion {
        transform: translate3d(0, 0, 0);
        //background-color: blue;

        .card {
            .card-header {
                padding: 0;
            }
            //background-color: green;
        }
    }
    //.accordion .card {
    //    background-color: transparent;
    //    .tab {
    //        padding: 0;
    //    }
    //}
    //.skill-group {
    //    margin-top: 10px;
    //
    //    .skill-group-body {
    //        padding-left: 36px;
    //        position: relative;
    //
    //        &::after {
    //            background-color: #c2c4c5;
    //            bottom: 0;
    //            content: '';
    //            left: 12px;
    //            position: absolute;
    //            top: 0;
    //            width: 2px;
    //        }
    //    }
    //}
}
