@import '../../../variables';

.skill-points-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    .training-speed {
        text-align: right;
    }
}

.attributes-container {

    display: grid;
    grid-template-columns: repeat(5, auto);

    .attribute {
        display: grid;
        grid-template-columns: repeat(2, auto);

        p {
            margin: auto;
        }
    }
}

.skill-queue-time {
    &.low {
        color: $warning;
    }
}

.skill-queue {

    $skill-queue-left-margin: 20px;

    .stalled {
        color: $warning;
    }

    .skill-in-queue {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .right-info {
            text-align: right;
        }

        &.training {
            color: $primary;
        }

        .left-info .skill-info {
            margin-left: $skill-queue-left-margin;
        }
    }

    .skill-progressbar {
        margin-left: $skill-queue-left-margin;
    }
}

.skill-list {

    padding-top: 20px;

    .accordion ::ng-deep .card {
        background-color: $body-secondary;

        .card-header {
            background-color: transparent;
            padding: 0;

            .btn.btn-link {
                color: $body-color;
                width: 100%;
                text-align: left;
            }
        }
    }
}
