@import "../../../variables";

.finished {
  color: $eve_skill_untrained;
}

.training {
  color: $eve_skill_training;
}

.scheduled {
  color: $eve_skill_trained;
}

.stalled {
  color: yellow;
}

.skill-points {
  span {
    border-bottom: 1px dotted;
    cursor: help;
  }
}
