@import '../../../variables';

.skill-queue-time {
  &.low {
    color: yellow;
  }
}

.skill-queue {
  .stalled {
    color: #ffff00;
  }

  .skill-in-queue {
    margin-top: 10px;

    &.training {
      color: #DF691A;
    }

    &.scheduled {
      color: $eve-skill-trained;
    }

    .skill-group,
    .skill-level,
    .skill-time {
      margin-left: 25px;
    }
  }
}

.skill-points {
  span {
    border-bottom: 1px dotted;
    cursor: help;
  }
}

.skill-list {
  .skill-group {
    margin-top: 10px;

    .skill-group-body {
      position: relative;
      padding-left: 36px;

      &::after {
        background-color: #c2c4c5;
        top: 0;
        bottom: 0;
        content: '';
        left: 12px;
        position: absolute;
        width: 2px;
      }
    }
  }
}
