<ng-container *ngIf="loadingDone">
  <h2>Skillpoints</h2>
  <p *ngIf="skillsData">
    {{skillsData.total_sp}} SP
  </p>
  <br>
  <ng-container *ngIf="skillQueueData">
    <h2>Skill queue ({{skillQueueData.length}})</h2>
    <div *ngFor="let skill of skillQueueData">
      <p>
        <span *ngIf="skill.name">{{skill.name}}</span>
        <span>{{skill.finished_level - 1}} => {{skill.finished_level}}</span> -
        <span>Finishes on {{skill.finish_date}}</span>
      </p>
    </div>
  </ng-container>
  <br>
  <ng-container *ngIf="skillsData">
    <h2>Skill overview ({{skillsData.skills.length}})</h2>
    <h3>{{countLvl5Skills()}} skills at level 5</h3>
    <div *ngFor="let skill of skillsData.skills">
      <p>
        <span *ngIf="skill.name">{{skill.name}}</span>
        <span>{{skill.current_skill_level}}</span>
      </p>
    </div>
  </ng-container>
</ng-container>