<div class="skill-points-container">
  <h2>Skillpoints</h2>
  <p class="skill-points" *ngIf="skillsData && loadingDone">
  <span title="This is a calculated value and may not be 100% accurate">
    ~{{skillPoints | number:'1.0-0'}} SP</span>
    <ng-container *ngIf="spPerSec"> (+{{spPerSec | number:'1.0-2'}} SP/s)</ng-container>
  </p>
  <div *ngIf="!loadingDone">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</div>
<br>
<div class="skill-queue-container">
  <h2>Skill queue ({{skillQueueCount}})</h2>
  <p *ngIf="!skillTrainingPaused">Skill queue ends in {{totalQueueCountdown}}</p>
  <div class="skill-queue" *ngIf="skillQueueData && loadingDone">
    <ng-container *ngIf="skillTrainingPaused">
      <p class="stalled"><i class="fa fa-cog"></i> Skill queue inactive</p>
    </ng-container>
    <ng-container *ngFor="let skill of skillQueueData">
      <p class="skill-in-queue {{skill.status}}" *ngIf="skill.status !== 'finished'">
        <ng-container *ngIf="skill.status === 'training'"><i class="fa fa-cog fa-spin"></i></ng-container>
        <ng-container *ngIf="skill.status === 'scheduled'"><i class="fa fa-chevron-circle-up"></i></ng-container>
        <span class="skill-name" *ngIf="skill.name"><strong>{{skill.name}}</strong></span><br>
        <span class="skill-group" *ngIf="skill.name">{{getSkillGroup(skill.skill_id)}}</span><br>
        <span class="skill-level">Skill level {{skill.finished_level - 1}} 🡺 {{skill.finished_level}}</span><br>
        <ng-container *ngIf="skill.status === 'training'">
          <span class="skill-time">Finishes in {{skill.countdown}}</span>
        </ng-container>
        <ng-container *ngIf="skill.status === 'scheduled'">
          <ng-container *ngIf="skill.countdown">
            <span class="skill-time">Takes {{skill.countdown}}</span>
          </ng-container>
        </ng-container>
      </p>
    </ng-container>
  </div>
  <div *ngIf="!loadingDone">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</div>
<br>
<div class="skill-list-container">


  <h2>Skill overview ({{skillsCount}})</h2>
  <h3 *ngIf="loadingDone">{{countLvl5Skills()}} skills at level 5</h3>
  <div class="skill-list" *ngIf="skillsData && loadingDone">
    <!--<div *ngFor="let skill of skillsData.skills">-->
    <!--<p>-->
    <!--<span *ngIf="skill.name">{{skill.name}}</span>-->
    <!--<span>{{skill.current_skill_level}}</span> ({{getSkillGroup(skill.skill_id)}})-->
    <!--</p>-->
    <!--</div>-->
    <ng-container *ngFor="let group of skillGroups">
      <ng-container *ngIf="skillList[group.group_id].length">
        <div class="skill-group">
          <button (click)="toggleAccordion($event)" class="accordion">
            <i class="fa fa-folder"></i> {{group.name}} ({{skillList[group.group_id].length}})
          </button>
          <div class="accordion-body">
            <p class="skill-name" *ngFor="let skill of getSkillsInGroup(group.group_id)">
              <span *ngIf="skill.name">{{skill.name}}</span>
              <span>{{skill.current_skill_level}}</span>
            </p>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="!loadingDone">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</div>