$eve_gold: #96732B;
$eve_white: #CFCFCE;

$eve_gold_omega: #FFCC00;

$eve_ore_button_active: #958D21;
$eve_ore_button_highlight: #6E691E;
$eve_ore_button: #43431A;

$eve_ore_body: #0B1216;
$eve_ore_content: #151D23;

$eve_skill_untrained: #444A4F;
$eve_skill_trained: #D0D2D3;
$eve_skill_training: #2F849E;

$eve_text_color_bold: #fff;
$eve_text_color: #C2C4C5;
$eve_text_yellow: #FFFF00;

$navbar_top_height: 50px;
$navbar_side_width: 51px;
$body_padding: 20px;

$opacity: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

$standard-font-size: 14px;
$standard-line-height: 1.42857143;
