<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" routerLink="/">EVE Track</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="!isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="1" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="2" routerLinkActive="active">Dashboard</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item hidden-md-down disabled">
                <a class="nav-link"><span id="eve-players"></span>{{playerCount}} players online</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <div class="nav-link logout hidden-md-down" tooltip="Logout" placement="bottom">
                    <img src="//data.saturnserver.org/eve/Icons/items/9_64_6.png" alt="Logout icon" (click)="logout()">
                </div>
                <!--<a class="nav-link hidden-md-up" (click)="logout()">Logout</a>-->
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar fixed-left navbar-inverse">
    <a routerLink="account" routerLinkActive="active" class="character-item"
       [ngClass]="{'disabled': true || checkAccess()}">
        <img src="//image.eveonline.com/Character/{{ char }}_50.jpg" alt="Character image">
    </a>
    <a routerLink="charactersheet" routerLinkActive="active" class="navbar-item" tooltip="Character Overview"
       placement="right"
       [ngClass]="{'disabled': true || checkAccess()}">
        <img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/charactersheet.svg" alt="Character sheet icon">
    </a>
    <a routerLink="skills" routerLinkActive="active" class="navbar-item" tooltip="Skills" placement="right"
       [ngClass]="{'disabled': checkAccess()}">
        <img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/skills.svg" alt="Skills icon">
    </a>
    <a routerLink="contacts" routerLinkActive="active" class="navbar-item"
       [ngClass]="{'disabled': true || checkAccess()}">
        <img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/contacts.svg" alt="Contacts icon">
    </a>
    <a routerLink="mail" routerLinkActive="active" class="navbar-item"
       [ngClass]="{'disabled': true || checkAccess()}">
        <img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/evemail.svg" alt="Mail icon">
    </a>
    <a routerLink="market" routerLinkActive="active" class="navbar-item" tooltip="Market orders" placement="right"
       [ngClass]="{'disabled': checkAccess()}">
        <img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/market.svg" alt="Market icon">
    </a>
    <a routerLink="wallet" routerLinkActive="active" class="navbar-item" tooltip="Wallet" placement="right"
       [ngClass]="{'disabled': checkAccess()}">
        <img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/wallet.svg" alt="Wallet icon">
    </a>
    <a routerLink="assets" routerLinkActive="active" class="navbar-item"
       [ngClass]="{'disabled': true || checkAccess()}">
        <img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/assets.svg" alt="Assets icon">
    </a>
    <a routerLink="planets" routerLinkActive="active" class="navbar-item"
       [ngClass]="{'disabled': true || checkAccess()}">
        <img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/planets.svg" alt="Planets icon">
    </a>
    <a routerLink="industry" routerLinkActive="active" class="navbar-item"
       [ngClass]="{'disabled': true || checkAccess()}">
        <img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/industry.svg" alt="Industry icon">
    </a>
    <a class="navbar-item time"
       [ngClass]="{'disabled': true || checkAccess()}">
        <span id="EVETime_Hours">{{ hours }}</span>:<span id="EVETime_Minutes">{{ minutes }}</span>
    </a>
</nav>
