<div class="index-container container">
    <div class="info-container">
        <h1>Welcome to EVIE!</h1>
        <br>
        <p>
            EVIE can be best described as an <strong>EVE Online API viewer</strong>, it enables you to view your
            EVE Online character information without having to log into the game.
        </p>
        <br>
        <p>
            My goal is to provide you with a simple-to-use API viewer that gives you as much information about your
            characters as possible.
        </p>
        <br>
        <p>
            For optimal use of this website, I encourage you to create an account.
            This will enable you to save multiple characters and quickly access their data.
            <br>
            The source code of this website is publicly available on
            <a class="underline" href="https://github.com/Ionaru/EVE-Track" target="_blank">GitHub</a>,
            so feel free to nose around and discover how it all works.
        </p>
    </div>

    <div class="center" *ngIf="!isLoggedIn">
        <br>
        <hr>
        <br>
        <!--<button class="btn btn-primary" (click)="temporaryLogin()">Temporary</button>-->
        <button class="btn btn-primary" (click)="openLoginModal()">Login</button>
        <button class="btn btn-primary" (click)="openRegisterModal()">Register</button>
    </div>
</div>
