<div class="index-container container">
    <div class="info-container">
        <h1>Welcome to EVIE!</h1>
        <br>
        <p>
            EVIE can be best described as an <strong>EVE Online API viewer</strong>, it enables you to view your
            EVE Online character information without having to log into the game.
        </p>
        <br>
        <p>
            My goal is to provide you with a simple-to-use API viewer that gives you as much useful information about
            your characters as possible.
        </p>
        <br>
        <p>
            To use this website you'll need to register an account. I've done this because I don't want my backend API
            to be publicly available just yet. In the future this will change.
            This will also enable you to save multiple characters and quickly access their data.
            <br>
            The source code of this website is publicly available on
            <a class="underline" href="https://github.com/Ionaru/EVIE" target="_blank" rel="noopener">GitHub</a>,
            so feel free to nose around and discover how it all works.
        </p>
        <br>
        <p>Currently functional pages:</p>
        <ul>
            <li>Ore prices table</li>
            <li>Character dashboard</li>
            <li>Skills page</li>
            <li>Wallet balance & journal</li>
        </ul>
    </div>

    <div class="center" *ngIf="!isLoggedIn">
        <hr>
        <br>
        <div class="d-flex button-container">
            <button class="btn btn-primary" (click)="authCharacter()">Login with SSO</button>
        </div>
    </div>
</div>
