<div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="login-container">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value).then()">

            <div class="form-group" [ngClass]="{'has-danger': wrongLogin}">
                <label for="login-username" class="col-form-label login-input">
                    Username or email
                </label>
                <input (focus)="resetStyle()" (input)="resetStyle()" #usernameInput
                       class="form-control" type="text" id="login-username" required ngModel name="username">
            </div>

            <div class="form-group" [ngClass]="{'has-danger': wrongLogin}">
                <label for="login-password" class="col-form-label login-input">
                    Password
                </label>
                <input (focus)="resetStyle()" (input)="resetStyle()"
                       class="form-control" type="password" id="login-password" required ngModel name="password">
            </div>

            <button [ngClass]="{'m-progress' : inProgress, 'disabled': inProgress}"
                    class="btn btn-primary " type="submit" [disabled]="!loginForm.valid || wrongLogin">
                Here I am again!
            </button>
        </form>
        <ng-container *ngIf="debugging">
            <hr>
            <button class="btn btn-danger" (click)="loginDebug()" [ngClass]="{'disabled': inProgress}">
                <i class="fa fa-exclamation-triangle"></i>
                Login debug
            </button>
        </ng-container>
    </div>
</div>
<div class="modal-footer" *ngIf="wrongLogin">
    <p>
        <i class="text-danger fa fa-exclamation-triangle"></i>
        Incorrect login, please try again.
    </p>
</div>
