<div class="modal-header">
    <h4 class="modal-title">Register</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <fa-icon [icon]="faTimes"></fa-icon>
    </button>
</div>
<div class="modal-body">
    <div class="register-container">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value).then()" autocomplete="off">

            <div class="form-group">
                <label for="register-username" class="col-form-label">
                    Username
                </label>
                <input ngModel (input)="onUsernameInput($event)" #usernameInput
                       class="form-control" type="text" id="register-username" required name="evie-username">

                <ng-container [ngSwitch]="usernameStatus">
                    <small class="form-text text-danger" *ngSwitchCase="'error'">
                        <fa-icon [icon]="faTimesCircle"></fa-icon> {{ usernameHint }}
                    </small>
                    <small class="form-text" *ngSwitchCase="'info'">
                        <fa-icon [icon]="faInfoCircle"></fa-icon> {{ usernameHint }}
                    </small>
                    <small class="form-text text-success" *ngSwitchCase="'valid'">
                        <fa-icon [icon]="faCheckCircle"></fa-icon> {{ usernameHint }}
                    </small>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="register-email" class="col-form-label">
                    Email
                </label>
                <input ngModel (input)="onEmailInput($event)"
                       class="form-control" type="text" id="register-email" required name="email">
                <ng-container [ngSwitch]="emailStatus">
                    <small class="form-text text-danger" *ngSwitchCase="'error'">
                        <fa-icon [icon]="faTimesCircle"></fa-icon> {{ emailHint }}
                    </small>
                    <small class="form-text" *ngSwitchCase="'info'">
                        <fa-icon [icon]="faInfoCircle"></fa-icon> {{ emailHint }}
                    </small>
                    <small class="form-text text-success" *ngSwitchCase="'valid'">
                        <fa-icon [icon]="faCheckCircle"></fa-icon> {{ emailHint }}
                    </small>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="register-password" class="col-form-label">
                    Password
                </label>
                <input ngModel (input)="onPasswordInput(); onPassword2Input()" [(ngModel)]="passwordInput"
                       class="form-control" type="password" id="register-password" required name="password">
                <ng-container [ngSwitch]="passwordStatus">
                    <small class="form-text text-danger" *ngSwitchCase="'error'">
                        <fa-icon [icon]="faTimesCircle"></fa-icon> {{ passwordHint }}
                    </small>
                    <small class="form-text" *ngSwitchCase="'info'">
                        <fa-icon [icon]="faInfoCircle"></fa-icon> {{ passwordHint }}
                    </small>
                    <small class="form-text text-success" *ngSwitchCase="'valid'">
                        <fa-icon [icon]="faCheckCircle"></fa-icon> {{ passwordHint }}
                    </small>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="register-password-confirm" class="col-form-label">
                    Password confirmation
                </label>
                <input ngModel (input)="onPassword2Input()" [(ngModel)]="password2Input"
                       class="form-control" type="password" id="register-password-confirm" required name="password2">
                <ng-container [ngSwitch]="password2Status">
                    <small class="form-text text-danger" *ngSwitchCase="'error'">
                        <fa-icon [icon]="faTimesCircle"></fa-icon> {{ password2Hint }}
                    </small>
                    <small class="form-text" *ngSwitchCase="'info'">
                        <fa-icon [icon]="faInfoCircle"></fa-icon> {{ password2Hint }}
                    </small>
                    <small class="form-text text-success" *ngSwitchCase="'valid'">
                        <fa-icon [icon]="faCheckCircle"></fa-icon> {{ password2Hint }}
                    </small>
                </ng-container>
            </div>

            <hr>

            <button [ngClass]="{'m-progress' : inProgress}"
                    class="btn btn-success " type="submit"
                    [disabled]="!registerForm.valid || anyFormErrors()">
                Sign me up!
            </button>
        </form>
    </div>
</div>
<div class="modal-footer" *ngIf="registerError">
    <p [@myAnimation]="registerError">
        <fa-icon [icon]="faExclamationTriangle" class="text-danger"></fa-icon>
        {{ registerErrorMessage }}
    </p>
</div>
