@import '../industry.component';

.system-overview {

    .sec-00 {
        color: $eve-sec-00;
    }

    .sec-01 {
        color: $eve-sec-01;
    }

    .sec-02 {
        color: $eve-sec-02;
    }

    .sec-03 {
        color: $eve-sec-03;
    }

    .sec-04 {
        color: $eve-sec-04;
    }

    .sec-05 {
        color: $eve-sec-05;
    }

    .sec-06 {
        color: $eve-sec-06;
    }

    .sec-07 {
        color: $eve-sec-07;
    }

    .sec-08 {
        color: $eve-sec-08;
    }

    .sec-09 {
        color: $eve-sec-09;
    }

    .sec-10 {
        color: $eve-sec-10;
    }

    .job-info {
        width: 100%;

        img {
            padding: 0 5px;
        }

        .job-time {
            text-align: right;
        }
    }

    .accordion ::ng-deep .card {
        background-color: $body-secondary;

        .card-header {
            background-color: transparent;
            padding: 0;

            .btn.btn-link {
                color: $body-color;
                width: 100%;
                text-align: left;
            }
        }
    }
}
