<app-no-scopes-message *ngIf="missingAllRequiredScopes">
    To display the industry system overview page, you need to grant the "Read structures" scopes.
</app-no-scopes-message>

<div class="system-overview" *ngIf="!missingAllRequiredScopes">
    <ngb-accordion>
        <ngb-panel *ngFor="let system of overview">
            <ng-template ngbPanelTitle>
                <div class="d-flex justify-content-between">
                    <span>
                        <fa-icon [icon]="openAccordionIcon"></fa-icon>
                        <strong> {{ system.name }}</strong>
                        <small class="sec-{{ system.securityClass }}">
                            {{ system.securityStatus | number:'1.1-1' }}
                        </small>
                    </span>
                    <span>
                        {{system.totalJobs - system.readyJobs}} in progress / {{system.readyJobs}} ready for delivery.
                    </span>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <ng-container *ngFor="let location of system.locations">
                    <h5>{{location.name}}</h5>
                    <table class="job-info">
                        <tr *ngFor="let job of location.jobs" class="job-row">
                            <td class="text-center">
                                <img [ngClass]="{copy: blueprints[job.blueprint_id] && blueprints[job.blueprint_id]!.runs !== -1}"
                                     src="https://imageserver.eveonline.com/Type/{{ job.blueprint_type_id }}_32.png" alt="bp">
                            </td>
                            <td class="text-center"><fa-icon [fixedWidth]="true" [icon]="arrowRight"></fa-icon></td>
                            <td class="text-center"><fa-icon [fixedWidth]="true" [icon]="job.activityIcon"></fa-icon></td>

                            <td class="text-center">
                                <ng-container *ngIf="![IndustryActivity.research_material_efficiency, IndustryActivity.research_time_efficiency].includes(job.activity_id)">
                                    <fa-icon [icon]="jobRunsIcon"></fa-icon> {{job.runs}}
                                </ng-container>

                                <ng-container [ngSwitch]="job.activity_id">
                                    <ng-container *ngSwitchCase="IndustryActivity.research_material_efficiency">+{{ job.runs }}%</ng-container>
                                    <ng-container *ngSwitchCase="IndustryActivity.research_time_efficiency">+{{ job.runs * 2 }}%</ng-container>
                                    <ng-container *ngSwitchCase="IndustryActivity.invention">( ~{{ job.probability * 100 | number:'1.0-0' }}% )</ng-container>
                                </ng-container>
                            </td>

                            <td class="text-center"><fa-icon [fixedWidth]="true" [icon]="arrowRight"></fa-icon></td>

                            <td class="text-center">
                                <img [ngClass]="{copy: [IndustryActivity.copying, IndustryActivity.invention].includes(job.activity_id)}"
                                     src="https://imageserver.eveonline.com/Type/{{ job.product_type_id }}_32.png" alt="bp">
                            </td>

                            <td>{{job.productName}}</td>
                            <td class="job-time">
                                <ng-container *ngIf="job.timeCountdown.value > 0">
                                    {{job.timeCountdown}} -
                                </ng-container>
                                {{job.percentageDone}} %
                            </td>
                        </tr>
                    </table>
                </ng-container>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>

<ng-container *ngIf="debugMode">
    <hr>
    <h3>Debug data</h3>
    <p>Industry data</p>
    <pre>{{ overview | json }}</pre>
</ng-container>
