<app-no-scopes-message *ngIf="missingAllRequiredScopes">
    To display the industry page, you need to grant the "Read industry jobs" scope.
</app-no-scopes-message>

<div class="container industry-page-container" *ngIf="missingAllRequiredScopes === false">
    <div *ngIf="industryJobs && !industryJobs.length">
        <h3>You have no active industry jobs.</h3>
    </div>
    
    <div class="industry-job-container" *ngFor="let job of industryJobs" [ngSwitch]="job.activity_id">

        <img src="//imageserver.eveonline.com/Type/{{ job.blueprint_type_id }}_32.png" alt="bp">

        <ng-container *ngSwitchCase="IndustryActivity.manufacturing">
            <fa-icon [icon]="manufacturingIcon"></fa-icon>
            BUILD

            <p>
                {{job.runs}} x
                <img src="//imageserver.eveonline.com/Type/{{ job.product_type_id }}_32.png" alt="bp">
                <span>{{ job.productName }}</span>
            </p>

        </ng-container>

        <ng-container *ngSwitchCase="IndustryActivity.copying">
            <fa-icon [icon]="copyIcon"></fa-icon>
            COPY +{{ job.runs }}, runs: {{ job.licensed_runs }}
        </ng-container>

        <ng-container *ngSwitchCase="IndustryActivity.research_material_efficiency">
            <fa-icon [icon]="materialResearchIcon"></fa-icon>
            MAT EFF +{{ job.runs }}
        </ng-container>

        <ng-container *ngSwitchCase="IndustryActivity.research_time_efficiency">
            <fa-icon [icon]="timeResearchIcon"></fa-icon>
            TIME EFF +{{ job.runs }}
        </ng-container>

        <ng-container *ngSwitchCase="IndustryActivity.invention">
            <fa-icon [icon]="inventionIcon"></fa-icon>
            INVENTION
        </ng-container>

        <ngb-progressbar [value]="job.percentageDone" height="2px"></ngb-progressbar>

        <span>{{ job.cost }}</span>

        <p>BP stats -> M: {{ blueprints[job.blueprint_id]?.material_efficiency }} / T:{{ blueprints[job.blueprint_id]?.time_efficiency }}</p>

    </div>

    <hr>
    <h3>Debug data</h3>
    <p>Industry data</p>
    <pre>{{ industryJobs | json }}</pre>
    <hr>
    <p>Blueprint data</p>
    <pre>{{ blueprints | json }}</pre>
</div>
