<p>
    industry works!
</p>


<div class="item-container d-flex">
    <div class="image-container">
        <img src="https://image.eveonline.com/Type/28847_64.png" />
    </div>
    <div class="options-container d-flex">
        <div class="d-flex flex-column justify-content-evenly align-items-center h-100">
            <fa-icon [icon]="faGem"></fa-icon>
            <fa-icon [icon]="faHourglass"></fa-icon>
        </div>
        <div class="d-flex flex-column justify-content-evenly align-items-center h-100">
            <span>5</span>
            <span>6</span>
            <!--<span>100</span>-->
        </div>
        <!--<div class="me-input">-->
            <!--<i class="fas fa-gem"></i>-->
            <!--5-->
        <!--</div>-->

        <!--<div class="me-input">-->
            <!--<i class="fas fa-hourglass"></i>-->
            <!--6-->
        <!--</div>-->

        <!--<i class="fas fa-rocket"></i>-->
    </div>
</div>
