<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Characters</th>
        <th scope="col">Times logged in</th>
        <th scope="col">Last login</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.characters.length }}</td>
        <td>{{ user.timesLogin }}</td>
        <td>{{ user.lastLogin }}</td>
    </tr>
    </tbody>
</table>
