.index-container {
  //max-width: 1070px;
  //margin: 0 auto;

  .info-container {
    //text-align: center;
  }

  .login-container, .register-container, .temporary-login-container {
    //text-align: center;
  }
}

input {
  //display: block;
  //margin: 5px 0;
  //padding: 3px;
  //border: none;
  //border-bottom: 1px solid white;
  //background: none;
  //color: white;
  //font-size: 16px;
  &::placeholder {
    transition: opacity 0.3s linear;
  }
  &:focus {
  //  color: white;
  //  outline: none;
    &::placeholder {
      opacity: 0;
    }
  }
}

.search {
  transition: color 0.3s linear;
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input { text-indent: 30px;}

.search .fa {
  position: absolute;
  top: 1px;
  left: 5px;
}
