<button type="button" class="btn btn-primary" (click)="showModal()">Login</button>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Login</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="login-container">
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value).then()">

            <div class="form-group" [ngClass]="{'has-danger': wrongLogin}">
              <label for="login-username" class="col-form-label login-input">
                Username or email
              </label>
              <input (focus)="resetStyle()" (input)="resetStyle()" #usernameInput
                     class="form-control" type="text" id="login-username" required ngModel name="username">
            </div>

            <div class="form-group" [ngClass]="{'has-danger': wrongLogin}">
              <label for="login-password" class="col-form-label login-input">
                Password
              </label>
              <input (focus)="resetStyle()" (input)="resetStyle()"
                     class="form-control" type="password" id="login-password" required ngModel name="password">
            </div>

            <button [ngClass]="{'m-progress' : inProgress}"
                    class="btn btn-primary " type="submit" [disabled]="!loginForm.valid || wrongLogin">
              Login
            </button>
          </form>
          <ng-container *ngIf="debugging">
            <hr>
            <button class="btn btn-danger" (click)="loginDebug()">
              <i class="fa fa-exclamation-triangle"></i>
              Login debug
            </button>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer" *ngIf="wrongLogin">
        <p [@myAnimation]="wrongLogin">
          <i class="text-danger fa fa-exclamation-triangle"></i>
          Incorrect login, please try again.
        </p>
      </div>
    </div>
  </div>
</div>
