<button type="button" class="btn btn-primary" (click)="showModal()">Register</button>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Register an EVE Track account</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="register-container">
          <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value).then()">

            <div class="form-group">
              <label for="register-username" class="col-form-label">
                Username
              </label>
              <input ngModel (input)="onUsernameInput($event)" #usernameInput
                     class="form-control" type="text" id="register-username" required name="username">
              <small class="form-text" [ngClass]="getTextColorClass(usernameStatus)">
                <i class="fa" [ngClass]="getHintIconClass(usernameStatus)"></i>
                {{ usernameHint }}
              </small>
            </div>

            <div class="form-group">
              <label for="register-email" class="col-form-label">
                Email
              </label>
              <input ngModel (input)="onEmailInput($event)"
                     class="form-control" type="text" id="register-email" required name="email">
              <small class="form-text" [ngClass]="getTextColorClass(emailStatus)">
                <i class="fa" [ngClass]="getHintIconClass(emailStatus)"></i>
                {{ emailHint }}
              </small>
            </div>

            <div class="form-group">
              <label for="register-password" class="col-form-label">
                Password
              </label>
              <input ngModel (input)="onPasswordInput(); onPassword2Input()" [(ngModel)]="passwordInput"
                     class="form-control" type="password" id="register-password" required name="password">
              <small class="form-text" [ngClass]="getTextColorClass(passwordStatus)">
                <i class="fa" [ngClass]="getHintIconClass(passwordStatus)"></i>
                {{ passwordHint }}
              </small>
            </div>

            <div class="form-group">
              <label for="register-password-confirm" class="col-form-label">
                Password confirmation
              </label>
              <input ngModel (input)="onPassword2Input()" [(ngModel)]="password2Input"
                     class="form-control" type="password" id="register-password-confirm" required name="password2">
              <small class="form-text" [ngClass]="getTextColorClass(password2Status)">
                <i class="fa" [ngClass]="getHintIconClass(password2Status)"></i>
                {{ password2Hint }}
              </small>
            </div>

            <hr>

            <button [ngClass]="{'m-progress' : inProgress}"
                    class="btn btn-success " type="submit"
                    [disabled]="!registerForm.valid || anyFormErrors()">
              Register
            </button>
          </form>
        </div>
      </div>
      <div class="modal-footer" *ngIf="registerError">
        <p [@myAnimation]="registerError">
          <i class="text-danger fa fa-exclamation-triangle"></i>
          {{ registerErrorMessage }}
        </p>
      </div>
    </div>
  </div>
</div>