<h1>Welcome to EVE Track!</h1>
<p>
  EVE-Track can be best described as an EVE Online API viewer, it enables you to view your EVE Online data without having to
  log into the game.
</p>
<p>
  Our goal is to provide you with a simple-to-use API viewer while still providing a lot of information about your
  character.
</p>
<br>
<p>
  For optimal use of this website, I encourage you to create an account and add API keys to that account. This way you
  do not have to enter the key every time you want to view the data. However it is possible to view data without
  creating an account, using the 'temporary key' section.
</p>
<hr>
<div *ngIf="!loggedIn">
  <form #f="ngForm" (ngSubmit)="login(f.value)">
    <p>
      <label for="username-input">Username or email</label>
      <input id="username-input" type="text" required ngModel name="username">
    </p>
    <p>
      <label for="password-input">Password</label>
      <input id="password-input" type="password" required ngModel name="password">
    </p>

  <button type="submit" [disabled]="!f.valid">Login</button>
  </form>
  <button (click)="loginDebug()" >Login debug</button>
</div>


<!--<form>-->
  <!--<input name="keyId" title="Key ID">-->
  <!--<input name="vCode" title="Verification Code">-->
  <!--<button type="submit">Submit</button>-->
  <!--<button type="reset">Reset</button>-->
<!--</form>-->

<!--<div class="container">-->
  <!--<h2>Log in</h2>-->
  <!--<form>-->
    <!--<div class="form-group">-->
      <!--<label for="username">Username or Email</label>-->
      <!--<input type="text" class="form-control" id="username" required ngModel="user.name">-->
      <!--&lt;!&ndash;{{ user.name }}&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="password">Password</label>-->
      <!--<input type="password" class="form-control" id="password" required ngModel="user.password">-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-default">Log in</button>-->
  <!--</form>-->
<!--</div>-->
