<table class="table">
    <thead>
    <tr>
        <th [ngClass]="{sortable: c.sort}" *ngFor="let c of columns" (click)="c.sort ? sort(c.attribute) : null">
            <ng-container *ngIf="currentSort && currentSort === c.attribute">
                <span *ngIf="!invert"><fa-icon [icon]="sortAscendingIcon"></fa-icon></span>
                <span *ngIf="invert"><fa-icon [icon]="sortDescendingIcon"></fa-icon></span>
            </ng-container>
            <ng-container *ngIf="!(currentSort && currentSort === c.attribute) && c.sort">
                <span><fa-icon [icon]="noSortIcon"></fa-icon></span>
            </ng-container>
            {{ c.title ? c.title : (c.attribute.charAt(0).toUpperCase() + c.attribute.slice(1)) }}
            <span class="hint-button" *ngIf="c.hint" placement="right" [ngbTooltip]="c.hint">
                <fa-icon [icon]="hintIcon"></fa-icon>
            </span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of data">
        <td *ngFor="let col of columns" [ngClass]="[col.attribute, getClass(col, d)]">
            <ng-container [ngSwitch]="col.pipe">
                <ng-container *ngSwitchCase="'number'">
                    {{col.prefix}}{{ getData(col.attribute, d) | number:col.pipeVar ? col.pipeVar : '1.0-0' }}{{col.suffix}}
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                    {{col.prefix}}{{ getData(col.attribute, d) | date:col.pipeVar ? col.pipeVar : 'yyyy-MM-dd HH:mm:ss' }}{{col.suffix}}
                </ng-container>
                <ng-container *ngSwitchDefault>
                    {{col.prefix}}{{ getData(col.attribute, d) }}{{col.suffix}}
                </ng-container>
            </ng-container>
        </td>
    </tr>
    </tbody>
</table>
